@import url("./zeroling.css");
.body {
  background: url("../img/street.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /* background-image: url('../img/street.jpg'); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
}
.container {
  height: 100%;
  display: flex;
  /* display: flex; */
  align-items: center;
}
.quest_container {
  position: absolute;
  left: 3vw;
  top: 5vh;
  max-width: 300px;
  z-index: 9;
}
.qest_title {
  margin-bottom: 15px;
  font-size: xx-large;
  color: #ffeb3b;
}
.quest_name {
  color: #ffeb3b;
  font-size: larger;
}
.img_spaiderman {
  cursor: pointer;
  display: none;
  height: 30vh;
  rotate: -21deg;
  position: absolute;
  border-radius: 10%;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.img_spaiderman_visible {
  animation: anim_visible_spiderman 2s forwards;
}
.phone {
  cursor: pointer;
  background: url(../img/phone.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  left: 3vw;
  top: 25vh;
  width: 109px;
  height: 210px;
}
.phone:hover {
  background: url(../img/backgrounf_phone_spiderman.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 109px;
  height: 210px;
}
.phone_visible {
  display: none;
  position: relative;
  background: url(../img/backgrounf_phone_spiderman.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 100%; */
  width: 18vw;
  min-width: 380px;
  min-height: 745px;
}
.container_messages {
  width: 100%;
  padding: 10vh 6% 5vh;
  min-width: 330px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
.msg_heroe_container {
  margin: 2vh 0;
}
.msg_you_container {
  text-align: end;
  margin: 2vh 0;
}
.msg_heroe {
  padding: 16px;
  font-size: 18px;
  border-radius: 20px 20px 20px 0px;
  background: white;
  display: inline-block;
  width: fit-content !important;
}
.msg_you {
  padding: 16px;
  font-size: 18px;
  border-radius: 20px 20px 0px 20px;
  background: white;
  display: inline-block;
  width: fit-content !important;
}
.msg_you_select {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.msg_select {
  color: rgb(217 203 203);
  border: 1px solid rgb(217 203 203);
  padding: 10px;
  justify-content: flex-end;
  margin: 3px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}
.msg_select:hover {
  color: white;
  border: 1px solid white;
}
.anim_container {
  color: white;
}
.new_message {
  color: red;
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translate(-50%, 0);
}
.dialog_container {
  position: fixed;
  height: 90vh;
  width: 70vw;
  bottom: 2%;
  right: 2%;
  display: none;
}
@media (max-width: 480px) {
  .dialog_container {
    bottom: 0;
    right: 0;
    top: 15%;
    left: 0;
    width: 100vw;
  }
  .msg_you,
  .msg_heroe,
  .msg_select {
    font-size: 14px;
    padding: 5px;
  }
}
@keyframes anim_visible_spiderman {
  0% {
    display: block;
    height: 30vh;
    rotate: -21deg;
  }
  100% {
    display: block;
    height: 100vh;
    rotate: 0deg;
    top: 50%;
    left: 50%;
  }
}
